/* Move high-level classes to index */
.page-container{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

/* Move page based classes to their specified css class files */
.home-page-contaier{
  display: grid;
  place-items: center;
}