/* Move high-level classes to index */

.row {
  display: flex;
}

.gap-sm {
  gap: 1rem;
}

.gap-md {
  gap: 1.5rem;
}

.gap-lg {
  gap: 2rem;
}

.btn-primary {
  background-color: #5b99ff !important;
}

.btn-success {
  background-color: #c3ffae !important;
  color: black !important;
}

.btn-failure {
  background-color: #ffaeae !important;
  color: black !important;
}

.modal-container {
  color: black !important;
}
